
.item {
  width: 100%;
  clear: both;
}
.item img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.price {
  text-align: right;
}
.price img {
  margin: 0 0.2em;
}
.price img.gold {
  content:url("https://wiki.guildwars2.com/images/d/d1/Gold_coin.png");
}
.price img.silver {
  content:url("https://wiki.guildwars2.com/images/3/3c/Silver_coin.png");
}
.price img.copper {
  content:url("https://wiki.guildwars2.com/images/e/eb/Copper_coin");
}